{% extends 'base.html.twig' %}

{% block body %}
    <a href="/" class="btn btn-default"> back To Todo </a>
    <h1>Create</h1>
    {{form_start(form)}}

    {{form_widget(form)}}

    {{form_end(form)}}
{% endblock %}
