{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Todo</th>
            <th scope="col">Due Date</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
    

         {% for todo in todos %}         
            <tr>
                <th scope="row">{{todo.id}}</th>
                <td>{{todo.name}}</td>
                <td>{{todo.dueDate | date('Y-m-d H:i:s')}}</td>
                <td>
                    <a href="/" class="btn btn-success">view</a>
                    <a href="/" class="btn btn-default">edit</a>
                    <a href="/" class="btn btn-danger">delete</a>
                </td>
            </tr>
         {% endfor %}
            
        </tbody>
    </table>
    <div class="row">
        <a href="/create" class="btn btn-primary btn-lg">Create Todo</a>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
{% block javascripts %}
    <script>
        {# alert(1234); #}
    </script>
{% endblock %}
